.row {
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: #f1f1f1;
}

h2 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 0;
}

form {
  margin: 10px;
}

#map-add {
  height: 400px;
  border-radius: 5px;
  border: 2px solid #ced4da;
}

.forms {
  position: relative;
}

.buttons-container {
  position: relative;
  width: 100% !important;
}

.inner-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.btn {
  margin: 0px 10px;
}